// _nalachtuvannay.scss
// Основні стилі планувальника (без стилів модалок)

// Підключення модулів модалок
@import 'nalachtuvannay_post';
@import 'nalachtuvannay_ceh';

// Базові змінні залишаються в основному файлі _planyvannya.scss