@use "./vxid/App";
@use "./robocha/osnovnui";
@use "./robocha/menu";
@use "./robocha/tablucya/tablucay";
@use "./robocha/zakaz_narayd/zakaz_narayd";
@use "./robocha/zakaz_narayd/vikno_vvody_parolu";
@use "./robocha/redahyvatu_bazu_danux/zberehtu_PIB_avto";
@use "./robocha/redahyvatu_bazu_danux/redahyvatu_klient_avto";
@use "./robocha/dodatu_inchi_bazu/dodatu_inchi_bazu_danux";
@use "./robocha/nalachtuvannay/nalachtuvannay";
@use "./robocha/tablucya/users";
@use "./robocha/bukhhalteriya/bukhhalteriya";
@use "./robocha/dodatu_inchi_bazu/downlExcel";
@use "./robocha/zakaz_narayd/faktura";
@use "./robocha/zakaz_narayd/fakturaAct";
@use "./robocha/zakaz_narayd/fakturaRaxunok";
@use "./robocha/tablucya/povidomlennya_tablucya";
@use "./robocha/planyvannya/planyvannya";
@use "./robocha/planyvannya/planyvannya_ceh";
@use "./robocha/planyvannya/planyvannya_post";

