@use "./vxid/App";
@use "./robocha/osnovnui";
@use "./robocha/menu";
@use "./robocha/tablucay";
@use "./robocha/zakaz_narayd/zakaz_narayd";
@use "./robocha/zakaz_narayd/redahyvatu_bazu_danux/zberehtu_PIB_avto";
@use "./robocha/zakaz_narayd/redahyvatu_bazu_danux/redahyvatu_klient_avto";
@use "./robocha/zakaz_narayd/inchi_bazu_danux/inchi_bazu_danux";
@use "./robocha/nalachtuvannay/nalachtuvannay";
